<h3>Target Multiple Containers via Tab ( Button Click )</h3>

<div class="tab-wrapper">
  <ul class="tab-nav">
        <li><a href="#" class="tab-title">Left Column Tab</a>
            <div class="tab-content">
                <p>Left Column Tab Information</p>
            </div>
        </li>
        <li><a href="#" class="tab-title">Right Column Tab</a>
            <div class="tab-content">
                <p>Right Column Tab Information</p>
            </div>
        </li>
    </ul>
  </div>

  <div class="tab-display"></div>