.site-container {
    height: 200px;
  }
  a.inPageLink {
    background: #2C4C7F;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 120px;
    margin: 0 auto 30px;
    display: block;
    text-decoration: none;
  }
  #target {
    position: absolute;
    top: 1015px;
    left: 0;
    right: 0;
    margin: 0 auto;
    p {
      background: #2C4C7F;
      color: #fff;
      padding: 10px;
      text-align: center;
      width: 120px;
      margin: 0 auto;
      text-decoration: none;
    }
  }
  
  
  