section {
    input {
      width: 50%;
      height: 30px;
      line-height: 30px;
      margin: 0 auto;
      text-align: center;
    }
    #text {
      font-size: 15px;
      margin: 20px 0 30px;
      p {
        margin: 0;
      }
    }
  }
  